@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .header-link-item {
    @apply relative;
  }
  .header-link-item::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    border: solid 1px #fff;
    opacity: 0;
    z-index: -1;
  }
  .purple-border:hover::after {
    @apply animate-leftToRight z-10 opacity-100 border-b border-purple-500;
  }
  .white-border:hover::after {
    @apply animate-leftToRight z-10 opacity-100;
    border: solid 1px #fff;
  }
  .nav-button {
    @apply rounded-lg px-8 py-2 cursor-pointer relative;
    transition: border 0.2s ease;
    transform: translate3d(0px, 0px, 40px);
  }
  /* .nav-button:hover {
    transition: border 0.2s ease;
    transform: translate3d(0px, 0px, 40px);
  } */
  .hero {
    @apply bg-cover bg-opacity-25;
  }
  .hero > img {
    @apply w-full h-96  object-cover  rounded-md;
  }
  .description-heading {
    @apply font-bold text-xl pb-4;
  }
  .flower-card-title {
    @apply font-semibold py-4 bg-green-700 text-white;
  }
  .flower-card-text {
    @apply pt-4 text-gray-700 font-semibold;
  }
}
